{
  "plugins": [
    "transform-class-properties",
    "syntax-decorators"
  ],
  "presets": [
    ["es2015", { "modules": false }],
    "react"
  ],
  "env": {
    "development": {
      "presets": [
        "react-hmre"
      ]
    },
    "production": {
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-remove-prop-types"
      ]
    }
  }
}
