{
  "sourceMaps": true,
  "presets": [
    "latest",
    "react",
    "stage-1"
  ],
  "plugins": [
    ["transform-react-jsx"]
  ],
  "env": {
    "development": {
      "presets": [
      ]
    },
    "production": {
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-remove-prop-types"
      ]
    }
  }
}
